body {
    background-image: url(../Graphics/back.jpg);
    background-attachment: fixed;
}

nav a {
    width: 200px;
}

div#content {
    width: 100%;
    min-width: 700px;
    display: table;
}

div#container {
    width: 80%;
    margin: 20px auto 20px auto;
    min-width: 900px;
}

section#information, nav{
    display: table-cell;
}

footer img#shielded-logo {
    margin-left: 90%;
}

footer {
    width: 80%;
    border-top: 2px solid black;
    font-size: 8pt;
    text-align: center;
    color: black;
    font-style: italic;
}