section#content {
    width: 800px;
}

body {
    background-image: url(../images/back.jpg);
    background-attachment: fixed;
}

header {
    background-image: url(../images/banner.jpg);
    width: 800px;
    height: 300px;
}

div#container {
    margin: 10px auto 10px auto;
}

h1.header {
    margin-left: 15px;
    color: white;
    font-size: 10em;
    font-family: sans-serif;
}